{% extends 'layout.html' %}

{% block title %}{{ specimen.book.title }}, {{ specimen.book.author }}{% endblock %}

{% block content %}
    <section class="book-view">
        <h2>Fiche de livre</h2>
        <div class="book-card">
            <img src="{{ specimen.book.cover }}" title="{{ specimen.book.title }}" alt="{{ specimen.book.coverDescription }}" />

            <ul class="book-infos">
                <li>
                    <p>Titre
                        <span>{{ specimen.book.title }}</span>
                    </p>
                </li>
                <li>
                    <p>Auteur
                        <span>{{ specimen.book.author }}</span>
                    </p>
                </li>
                <li>
                    <p>Éditeur
                        <span>{{ specimen.book.edition }}</span>
                    </p>
                </li>
                <li>
                    <p>Année de publication
                        <span>{{ specimen.book.publiedYear }}</span>
                    </p>
                </li>
            </ul>
        </div>
        <div class="specimen-infos">
            <div class="specimen-owner">
                {% if specimen.lender != session['roles'] %}
                    <p>Livre {%if loan.loaned %}prêté{% else %}proposé{% endif %} par<span>{{ specimen.lenderName }}</span></p>
                {% else %}
                    <p>Cet exemplaire vous appartient</p>
                {% endif %}
                {% if loan.loaned %}
                    <p>Emprunté le {{ loan.loaning }}</p>
                    <p>{% if loan.returned %}Rendu{% else %}À rendre{% endif %} le {{ loan.returning }}</p>
                {% endif %}
            </div>

            {% if specimen.lender != session['_user_id'] %}
                <div class="specimen-action">
                    {% if loan.loaned and not(loan.returned) %}
                        <p>Cet exemplaire est actuellement en votre possession</p>
                    {% else %}
                        {% if specimen.state %}<button type="button" onclick="requestLoan()">Envoyer une demande de prêt</button>{% else %}<p>Actuellement indisponible</p>{% endif %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
        {% if messages %}
            <div class="specimen-messages">
                {% for message in messages %}
                    {% if message.author == session['_user_id'] %}
                        <div class="sent-message">
                            <article>
                                <div>
                                    <p><span>Votre message</span></p>
                                    <p><span>Le</span> {{ message.send }}</p>
                                </div>
                                <p class="message-body">{{ message.content }}</p>
                            </article>
                        </div>
                    {% else %}
                        <div class="incoming-message">
                            <article id="incoming-message-{{ message.id }}">
                                <div>
                                    <p><span>De</span> {{ message.authorName }}</p>
                                    <p><span>Le</span> {{ message.send }}</p>
                                </div>
                                <p class="message-body">{{ message.content }}</p>
                            </article>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if messages[-1].author != session['_user_id'] and messages[-1].content != "Refusé" and messages[-1].content != "Retour confirmé" %}<button type="button" onclick="sendMessage()">Répondre</button>{% endif %}
            </div>
        {% endif %}
    </section>
{% endblock %}

{% block popup %}
    <div class="lending-book pop-up d-none">
        <h3>Demande de réservation</h3>
        <form method="POST">
            <p>
                <label for="date">Date d'emprunt souhaitée</label>
                <input type="date" name="loan_date" id="date" required />
            </p>
            <p>
                <label for="time">Durée d'emprunt souhaitée</label>
                <select id="time" name="loan_time" required>
                    <option value="7">1 semaine</option>
                    <option value="14">2 semaines</option>
                    <option value="21">3 semaines</option>
                </select>
            </p>
            <p>
                <button type="submit">Envoyer</button>
                <button type="button" onclick="requestLoan()">Annuler</button>
            </p>
        </form>
    </div>

    <div class="lending-message pop-up d-none">
        <h3>{% if not(loan.booking) %}
                Confirmer la réservation
            {% elif not(loan.loaned) %}
                Renseigner l'emprunt
            {% elif loan.loaned != 2 %}
                Confirmer le prêt
            {% elif not(loan.returned) %}
                Renseigner le retour de l'emprunt
            {% elif loan.returned != 2 %}
                Confirmer le retour du prêt
            {% else %}
                Écrire un message
            {% endif %}</h3>
        <form method="POST">
            <p>
                <label for="message">Votre message</label>
                <input type="text" id="message" name="loan_message" about="{% if not(loan.booked) %}0{% elif not(loan.loaned) %}1{% elif not(loan.returning) %}2{% else %}3{% endif %}" required readonly />
                <input type="hidden" name="loan_id" value="{{ loan.id }}"/>
                <input type="hidden" id="step" name="loan_step" value="{% if not(loan.booking) %}2{% elif not(loan.loaned) %}3{% elif loan.loaned != 2 %}4{% elif not(loan.returned) %}5{% elif loan.returned != 2 %}6{% endif %}"/>
            </p>
            <p>
                <button type="submit">Envoyer</button>
                {% if not(loan.booking) %}<button type="submit" onclick="reject()">Refuser</button>{% endif %}
                <button type="button" onclick="sendMessage()">Annuler</button>
            </p>
        </form>
    </div>
{% endblock %}