{% extends 'layout.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <section class="index">
        <div>
            <h2>Nouveautés</h2>
            <ul class="book-list">
                {% for newBook in newBooks %}
                    <li><a href="{{ url_for('searching_results', book= newBook.isbn ) }}"><img src="{{ newBook.cover }}" title="{{ newBook.title }}" alt="{{ newBook.coverDescription }}" /></a></li>
                {% endfor %}
            </ul>
        </div>
        {% for genre in genres %}
            <div>
                <h2>{{ genre.name }}</h2>
                <ul class="book-list">
                    {% for book in books %}
                        {% for bookGenre in book.genres %}
                            {% if bookGenre == genre.id %}
                                <li><a href="{{ url_for('searching_results', book= book.isbn ) }}"><img src="{{ book.cover }}" title="{{ book.title }}" alt="{{ book.coverDescription }}" /></a></li>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </section>
{% endblock %}