{% extends 'layout.html' %}

{% block title %}Emprunts de {{ session['username'] }}{% endblock %}

{% block content %}
    <section>
        {% for i in range(0, nb_loans // size + 1) %}
            <table id="lendingtable-{{ i }}" class="{% if i == 0 %}display{% endif %}">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Emprunté à</th>
                    <th>Emprunté le</th>
                    <th>À rendre le</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for loan in loans[i*size:((i+1)*size if (i+1)*size <= nb_loans else nb_loans)] %}
                    <tr>
                        <td>{{ loan.specimen.book.title }}</td>
                        <td>{{ loan.specimen.book.author }}</td>
                        <td>{{ loan.specimen.lenderName }}</td>
                        <td>{% if loan.loaned %}{{ loan.loaning }}{% elif loan.booking %}Réservé{% else %}Demandé{% endif %}</td>
                        <td>{% if loan.returned %}Rendu{% elif loan.booking %}{{ loan.returning }}{% elif loan.specimen.state %}Refusé{% endif %}</td>
                        <td>
                            <a href="{{ url_for('view_livre', reference = loan.specimen.ref) }}"><i class="fas fa-eye"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% if i == (nb_loans // size) %}
                        {% for j in range(size - (nb_loans % size)) %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        {% endfor %}
        {% if nb_loans // size > 0 and nb_loans != size %}
            <ul class="pagination pagination-sm justify-content-end">
                <li class="page-item">
                    <a class="page-link" href="#" onclick="loadTable(this)" aria-label="Précédent">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Précédent</span>
                    </a>
                </li>
                {% for p in range(0, nb_loans // size + 1) %}
                    <li class="page-item"><a class="page-link" href="#" onclick="loadTable(this)">{{ p + 1 }}</a></li>
                {% endfor %}
                <li class="page-item">
                    <a class="page-link" href="#" onclick="loadTable(this)" aria-label="Suivant">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Suivant</span>
                    </a>
                </li>
            </ul>
        {% endif %}
    </section>
{% endblock %}