{% extends 'layout.html' %}

{% block title %}Bibliothèque de {{ session['username'] }}{% endblock %}

{% block content %}
    <section>
        {% for i in range(0, nb_specimens // size + 1) %}
            <table id="librarytable-{{ i }}" class="{% if i == 0 %}display{% endif %}">
                <thead>
                <tr>
                    <th>Statut</th>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for specimen in specimens[i*size:((i+1)*size if (i+1)*size <= nb_specimens else nb_specimens)] %}
                    <tr>
                        <td>{% if specimen.state %}<i class="fas fa-toggle-on"></i>{% else %}<i class="fas fa-toggle-off"></i>{% endif %}</td>
                        <td>{{ specimen.book.title }}</td>
                        <td>{{ specimen.book.author }}</td>
                        <td>
                            <a href="{{ url_for('view_livre', reference = specimen.ref) }}"><i class="fas fa-eye"></i></a>
                            {% if specimen.state %}<a href="#" onclick="deleteBook({{ specimen }})"><i class="fas fa-trash"></i></a>{% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    {% if i == (nb_specimens // size) %}
                        {% for j in range(size - (nb_specimens % size)) %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        {% endfor %}
        <button type="button" class="add-book" onclick="addBook()">Ajouter un livre</button>
        {% if nb_specimens // size > 0 and nb_specimens != size %}
            <ul class="pagination pagination-sm justify-content-end">
                <li class="page-item">
                    <a class="page-link" href="#" onclick="loadTable(this)" aria-label="Précédent">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Précédent</span>
                    </a>
                </li>
                {% for p in range(0, nb_specimens // size + 1) %}
                    <li class="page-item"><a class="page-link" href="#" onclick="loadTable(this)">{{ p + 1 }}</a></li>
                {% endfor %}
                <li class="page-item">
                    <a class="page-link" href="#" onclick="loadTable(this)" aria-label="Suivant">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Suivant</span>
                    </a>
                </li>
            </ul>
        {% endif %}
    </section>
{% endblock %}

{% block popup %}
    <div class="new-book pop-up d-none">
        <h3>Ajout d'un livre</h3>
        <form method="POST">
            <p>
                <label for="title">Titre</label>
                <input type="text" id="title" name="book_title" />
            </p>
            <p>
                <label for="author">Auteur(e)</label>
                <input type="text" id="author" name="book_author" />
            </p>
            <p>
                <label for="isbn">ISBN</label>
                <input type="text" id="isbn" name="book_isbn" />
            </p>
            <p>
                <label for="publiedYear">Année de publication</label>
                <input type="number" min="1455" max="2020" id="publiedYear" name="book_publiedYear" />
            </p>
            <p>
                <label for="edition">Éditeur</label>
                <input type="text" id="edition" name="book_edition" />
            </p>
            <p>
                <label for="cover">Lien vers la couverture</label>
                <input type="url" id="cover" name="book_cover" />
            </p>
            <p>
                <label for="coverDescription">Description de la couverture</label>
                <input type="text" id="coverDescription" name="book_coverDescription" />
            </p>
            <p>
                <label for="genres">Genre(s) :</label>
                <select id="genres" name="book_genres" multiple>
                    {% for genre in genres %}
                    <option value="{{ genre.id }}">{{ genre.name }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <button type="submit">Valider</button>
                <button type="button" onclick="addBook()">Annuler</button>
            </p>
        </form>
    </div>
    <div class="delete-book pop-up d-none">
        <h3>Suppression de l'exemplaire <span class="specimen-reference"></span></h3>
        <form method="POST">
            <p>Vous êtes sur le point de supprimer l'exemplaire <span class="specimen-reference"></span> de <span class="specimen-book-title"></span> par <span class="specimen-book-author"></span>.</p>
            <p>Confirmez-vous ce choix ?</p>
            <input type="hidden" id="specimen_ref" name="specimen_ref" value=""/>
            <p>
                <button type="submit">Oui</button>
                <button type="button" onclick="deleteBook()">Non</button>
            </p>
        </form>
    </div>
{% endblock %}