{% extends 'layout.html' %}

{% block title %}Messagerie de {{ session['username'] }}{% endblock %}

{% block content %}
    <section>
        {% for i in range(0, nb_messages // size + 1) %}
            <table id="messagestable-{{ i }}" class="{% if i == 0 %}display{% endif %}">
                <thead>
                <tr>
                    <th>Envoyé par</th>
                    <th>Date</th>
                    <th>Statut</th>
                    <th>Livre</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for message in messages[i*size:((i+1)*size if (i+1)*size <= nb_messages else nb_messages)] %}
                        <tr>
                            <td>{% if message.loan.borrowerName %}{{ message.loan.borrowerName }}{% else %}{{ message.loan.specimen.lenderName }}{% endif %}</td>
                            <td>{{ message.send }}</td>
                            <td>{% if message.state %}Lu{% else %}Non lu{% endif %}</td>
                            <td>{{ message.loan.specimen.book.title }}</td>
                            <td>
                                <a href="{{ url_for('view_livre', reference = message.loan.specimen.ref) }}#incoming-message-{{ message.id }}"><i class="fas fa-eye"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% if i == (nb_messages // size) %}
                        {% for j in range(size - (nb_messages % size)) %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        {% endfor %}
        {% if nb_messages // size > 0 and nb_messages != size %}
            <ul class="pagination pagination-sm justify-content-end">
                <li class="page-item">
                    <a class="page-link" href="#" onclick="loadTable(this)" aria-label="Précédent">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Précédent</span>
                    </a>
                </li>
                {% for p in range(0, nb_messages // size + 1) %}
                    <li class="page-item"><a class="page-link" href="#" onclick="loadTable(this)">{{ p + 1 }}</a></li>
                {% endfor %}
                <li class="page-item">
                    <a class="page-link" href="#" onclick="loadTable(this)" aria-label="Suivant">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Suivant</span>
                    </a>
                </li>
            </ul>
        {% endif %}
    </section>
{% endblock %}