{% extends 'layout.html' %}

{% block title %}Recherche{% endblock %}

{% block content %}
    <section class="search">
        <h2>Recherche</h2>
        <form action="{{ url_for('searching_results') }}" method="post">
            <p>
                <label for="title">Titre :</label>
                <input type="text" id="title" name="book_title" />
            </p>
            <p>
                <label for="author">Auteur(e) :</label>
                <input type="text" id="author" name="book_author" />
            </p>
            <p>
                <label for="isbn">ISBN :</label>
                <input type="text" id="isbn" name="book_isbn" />
            </p>
            <p>
                <label for="genres">Genre(s) :</label>
                <select id="genres" name="book_genres" multiple>
                    {% for genre in genres %}
                    <option value="{{ genre.id }}">{{ genre.name }}</option>
                    {% endfor %}
                </select>
            </p>
            <p>
                <button type="submit">Rechercher</button>
            </p>
        </form>
    </section>
{% endblock %}