{% extends 'layout.html' %}

{% block title %}Résultats de la recherche{% endblock %}

{% block content %}
    <section>
        {% for i in range(0, nb_books // size + 1) %}
            <table id="librarytable-{{ i }}" class="{% if i == 0 %}display{% endif %}">
                <thead>
                <tr>
                    <th>Titre</th>
                    <th>Auteur</th>
                    <th>Proposé par</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for book in books[i*size:((i+1)*size if (i+1)*size <= nb_books else nb_books)] %}
                        <tr>
                            <td>{{ book.book.title }}</td>
                            <td>{{ book.book.author }}</td>
                            <td>{{ book.lenderName }}</td>
                            <td>
                                <a href="{{ url_for('view_livre', reference = book.ref) }}"><i class="fas fa-eye"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    {% if i == (nb_books // size) %}
                        {% for j in range(size - (nb_books % size)) %}
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        {% endfor %}
        {% if nb_books // size > 0 and nb_books != size %}
            <ul class="pagination pagination-sm justify-content-end">
                <li class="page-item">
                    <a class="page-link" href="#" onclick="loadTable(this)" aria-label="Précédent">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Précédent</span>
                    </a>
                </li>
                {% for p in range(0, nb_books // size + 1) %}
                    <li class="page-item"><a class="page-link" href="#" onclick="loadTable(this)">{{ p + 1 }}</a></li>
                {% endfor %}
                <li class="page-item">
                    <a class="page-link" href="#" onclick="loadTable(this)" aria-label="Suivant">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Suivant</span>
                    </a>
                </li>
            </ul>
        {% endif %}
    </section>
{% endblock %}