/* Suppression des marges internes et externes pour l'ensemble du document */
* {
    margin: 0;
    padding: 0;
}

/* Définition des variables réutilisables */
:root {
    --light-color: 241, 248, 249;
    --medium-color: 55, 120, 129;
    --dark-color: 13, 26, 28;
    --box-color: 75, 165, 177;
    --light-success-color: 169, 201, 154;
    --dark-success-color: 62, 95, 46;
    --light-error-color: 208, 138, 138;
    --dark-error-color: 104, 26, 26;

    --cursive-font: 'Homemade Apple', cursive;
    --sansserif-font: 'Quicksand', sans-serif;
}

/* Mise en page globale */
body {
    background-color: rgba(var(--light-color), 1);
    font-family: var(--sansserif-font);
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-family: var(--cursive-font);
    color: rgba(var(--medium-color), 1);
    margin-top: 1.5em;
    padding-bottom: 0.5em;
}

a {
    color: rgba(var(--medium-color), 1);
}

a:hover {
    color: rgba(var(--dark-color), 0.5);
    text-decoration: None;
}

header {
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(var(--medium-color), 1);
    color: rgba(var(--light-color), 1);
}

/* Mise en page des toggle */
i.fa-toggle-on {
    color: rgba(var(--light-success-color), 1);
}

i.fa-toggle-off {
    color: rgba(var(--light-error-color), 1);
}

/* Mise en page du main */
main {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* Mise en page de la section (intérieur du main) */
section {
    position: relative;
    padding: 5em 5em 3em 5em;
}

/* Mise en page de la barre de menu */
div.menu {
    position: fixed;
    padding: 0;
    height: 100vh;
    background-color: rgba(var(--box-color), 0.75);
}

#menu_navbar {
    padding: 0;
}

/* Mise en page des élements de sélection sur la barre de menu */
ul.menu-item-list {
    text-align: center;
    width: 100%;
    list-style-type: none;
    position: relative;
    margin-top: 70px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: calc(100vh - 70px);
}

ul.menu-item-list li a {
    display: block;
    color: rgba(var(--light-color), 1);
    padding: 8px 16px;
    text-decoration: none;
}

ul.menu-item-list li:last-child {
    margin-top: auto;
}

ul.menu-item-list li a:hover {
    background-color: rgba(var(--box-color), 0.5);
    color: white;
}

/* Mise en page du profil */
.login {
    text-align: right;
}

.login p {
    font-family: var(--cursive-font);
    font-size: 1.1rem;
    color: rgba(var(--light-color), 1);
    margin: 0;
}

/* Mise en page du titre de sous-section de la page principale */
.index h2 {
    text-transform: capitalize;
    border-bottom: 2px solid rgba(var(--medium-color), 0.6);
}

/* Mise en page des livres dans les différentes sous-sections */

.book-list {
    margin-top: 20px;
    list-style-type: none;
    color: rgba(var(--light-color), 1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.only-two-books {
    justify-content: start;
}

.book-list li {
    width: 14vw;
    min-width: 120px;
    margin: 2vh 1vw;
}

.book-list li img {
    width: 100%;
}

/* Mise en page du formulaire de recherche */
.search {
    display: flex;
    flex-flow: column nowrap;
}

.search h2 {
    text-align: center;
    margin-bottom: 1em;
}

.search form {
    margin: auto;
}

.search form p {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.search form p:last-child {
    justify-content: center;
}

.search form p label {
    font-weight: 500;
    color: rgba(var(--medium-color), 1);
    margin: 0 1em 0 0;
    align-self: center;
}

.search form p input,
.search form p select {
    width: 25vw;
    background-color: rgba(var(--medium-color), 0.3);
    color: rgba(var(--medium-color), 1);
    border: None;
    padding: 0.3em;
}

.search form p input:focus,
.search form p select:focus {
    outline: None;
}

.search form p button {
    background-color: rgba(var(--box-color), 0.75);
    color: rgba(var(--light-color), 1);
    border: None;
    outline: None;
    padding: 0.5em 1.5em;
    margin-top: 2em;
}

.search form p button:hover {
    background-color: rgba(var(--box-color), 0.9);
}

/* Mise en page des tableaux */
section table {
    width: 100%;
    display: none;
}

section table.display {
    display: table;
}

section tr {
    height: 6.5vh;
}

section thead {
    text-align: center;
    background-color: rgba(var(--box-color), 0.75);
    color: rgba(var(--light-color), 1);
    font-size: 1.1em;
}

section thead th {
    padding: 0.5em;
}

section tbody {
    background-color: rgba(var(--box-color), 0.1);
    color: rgba(var(--medium-color), 1);
    text-align: center;
}

section tbody tr:nth-child(2n) {
    background-color: rgba(var(--box-color), 0.1);
}

section tbody td:last-child {
    text-align: center;
}

section tbody td:last-child a {
    margin: 0 0.5em;
}

section tbody td a,
section tbody td a:visited {
    color: rgba(var(--box-color), 0.75);
}

section tbody td a:hover {
    color: rgba(var(--box-color), 0.9);
}

table td i {
    vertical-align: middle;
}

/* Mise en page du bouton d'ajout de livre */
.add-book {
    background-color: rgba(var(--box-color), 1);
    color: rgba(var(--light-color), 1);
    font-size: 0.8rem;
    border: None;
    outline: None;
    padding: 0.5em 1.5em;
    float: left;
    margin-top: 1rem;
}

.add-book:hover {
    background-color: rgba(var(--box-color), 0.8);
}

/* Mise en page de la pagination */
.pagination {
    margin-top: 1em;
}

.page-item,
.page-link {
    background-color: transparent;
    border: none;
}

.page-link {
    color: rgba(var(--box-color), 0.75);
}

.page-item:first-child .page-link,
.page-item:last-child .page-link{
    background-color: rgba(var(--box-color), 0.75);
    color: rgba(var(--light-color), 1);
    border: none;
    border-radius: 0!important;
    font-weight: 800;
}

.page-link:hover {
    background-color: rgba(var(--box-color), 0.3);
    color: rgba(var(--box-color), 1);
}

.page-item:first-child .page-link:hover,
.page-item:last-child .page-link:hover {
    background-color: rgba(var(--box-color), 1);
}

.page-link:focus {
    box-shadow: none;
}

.page-item:first-child .page-link:focus,
.page-item:last-child .page-link:focus {
    box-shadow: none;
}

/* Mise en page de la page de connexion */
.login a {
    font-size: 1.1rem;
    color: rgba(var(--light-color), 1);
    margin: 0;
}

.login a:hover {
    color: rgba(var(--light-color), 0.8);
}

.signin {
    margin: auto;
}

.signin h2 {
    text-align: center;
}

.signin form p {
    display: flex;
    flex-flow: column nowrap;
}

.signin form p:last-child {
    align-items: center;
}

.signin form p label {
    font-weight: 500;
    color: rgba(var(--dark-color), 1);
}

.signin form p input {
    width: 25vw;
    background-color: rgba(var(--medium-color), 0.3);
    color: rgba(var(--medium-color), 1);
    font-weight: 800;
    border: None;
    padding: 0.3em 1em;
}

.signin form p input:focus {
    outline: None;
}

.signin form p button {
    background-color: rgba(var(--medium-color), 1);
    color: rgba(var(--light-color), 1);
    border: None;
    outline: None;
    padding: 0.5em 1.5em;
    margin-top: 2em;
}

.signin form p button:hover {
    background-color: rgba(var(--medium-color), 0.8);
}

/* Mise en page d'une fiche de livre */
.book-card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45vh;
    min-height: 300px;
    margin: 20px 0 40px 0;
}

.book-card img {
    border-right: 2px solid  rgba(var(--box-color), 1);
    padding: 20px 3vw;
    height: 100%;
    box-sizing: content-box;
}

.book-infos {
    padding: 0 3vw;
    list-style-type: none;
    color: rgba(var(--medium-color), 1);
}

.book-infos p,
.specimen-owner p:first-child {
    font-size: 1.3rem;
    font-weight: 500;
}

.book-infos p span,
.specimen-owner p:first-child span {
    display: block;
    font-size: 1rem;
    font-weight: 300;
}

.specimen-infos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    color: rgba(var(--medium-color), 1);
}

.specimen-owner p,
.specimen-action p {
    margin: 0;
}

.specimen-owner p {
    font-size: 0.75rem;
    font-style: italic;
    text-align: center;
}

.specimen-owner p:first-child {
    font-style: normal;
    text-align: left;
}

.specimen-action {
    align-self: center;
}

.specimen-action p {
    font-size: 0.7rem;
    font-weight: 300;
    text-align: center;
}

.specimen-action button {
    background-color: rgba(var(--box-color), 1);
    color: rgba(var(--light-color), 1);
    font-size: 0.8rem;
    border: None;
    outline: None;
    padding: 0.5em 1.5em;
}

.specimen-action button:hover {
    background-color: rgba(var(--box-color), 0.8);
}

.specimen-messages {
    display: flex;
    flex-flow: column nowrap;
    background-color: rgba(var(--box-color), 0.75);
    margin-top: 50px;
    padding: 20px 10px;
}

.specimen-messages article div {
    display: flex;
    flex-flow: row wrap;
}

.specimen-messages article div p {
    flex: 1 1 50%;
    color: rgba(var(--light-color), 1);
}

.specimen-messages article div p span {
    font-weight: 800;
}

.specimen-messages article .message-body {
    background-color: rgba(var(--light-color), 0.8);
    color: rgba(var(--medium-color), 1);
    font-size: 0.8rem;
    padding: 10px;
}

.specimen-messages .sent-message {
    width: 80%;
    margin-left: 20%;
}

.specimen-messages button {
    background-color: rgba(var(--medium-color), 0.5);
    color: rgba(var(--light-color), 1);
    font-size: 0.8rem;
    border: None;
    outline: None;
    padding: 0.5em 1.5em;
    width: fit-content;
    align-self: flex-end;
}

.specimen-messages button:hover {
    background-color: rgba(var(--medium-color), 0.8);
}

/* Mise en page des popups */
.pop-up {
    display: block;
    position: fixed;
    background-color: rgba(var(--box-color), 1);
    color: rgba(var(--light-color), 1);
    font-family: var(--sansserif-font);
    font-size: 0.9rem;
    width: 75vw;
    height: 30vh;
    top: 35vh;
    left: 12.5vw;
    padding: 20px;
}

.new-book {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-self: center;
    height: 80vh;
    top: 10vh;
}

.pop-up h3 {
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
}

.new-book form {
    text-align: right;
    margin: auto;
}

.pop-up form p input,
.pop-up form p select {
    background-color: rgba(var(--light-color), 0.8);
    color: rgba(var(--medium-color), 1);
    border: None;
    padding: 0.3em;
}

.lending-book form p input,
.lending-book form p select{
    width: 25vw;
    margin-left: 1rem;
}

.lending-message form p input {
    width: 100%;
    height: 10vh;
}

.new-book form p input,
.new-book form p select {
    width: 30vw;
}

.pop-up form p input:focus,
.pop-up form p select:focus {
    outline: None;
}

.pop-up form p:last-child {
    text-align: right;
}

.new-book form p:last-child {
    text-align: center;
}

.pop-up form p button {
    background-color: rgba(var(--light-color), 0.8);
    color: rgba(var(--medium-color), 1);
    border: None;
    outline: None;
    padding: 0.5em 1.5em;
}

.pop-up form p button:hover {
    background-color: rgba(var(--light-color), 0.5);
}

.delete-book span.specimen-book-title {
    text-decoration: underline;
}