<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} - Share livre</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Raleway&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Promise -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.min.js" defer></script>
    <!-- Fetch -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.1/fetch.min.js" defer></script>
    <!-- JS -->
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}" async defer></script>

</head>

<body>
<header>
    <nav class="navbar fixed-top">
        <div class="navbar-brand col-sm-4">
            <h1><i class="fas fa-book-reader"></i> Share livre</h1>
        </div>
        <div class="login col-sm-3 col-md-2">
            <p>{{ session['username'] }}</p>
        </div>
    </nav>
</header>

<main>
    <div class="menu col-sm-3 col-md-2">
        <nav id="menu_navbar" class="navbar">
            <ul class="menu-item-list">
                <li><a href="{{ url_for('index') }}">Accueil</a></li>
                <li><a href="{{ url_for('searching_page') }}">Recherche</a></li>
                {% for role in session['roles'] %}
                    {% if role == 'borrower' %}
                        <li><a href="{{ url_for('view_emprunts') }}">Mes emprunts</a></li>
                    {% endif %}
                    {% if role == 'lender' %}
                        <li><a href="{{ url_for('view_bibliotheque') }}">Ma bibliothèque</a></li>
                    {% endif %}
                {% endfor %}
                <li><a href="{{ url_for('view_messagerie') }}">Mes messages</a></li>
                <li><a href="{{ url_for('auth.logout') }}">Me déconnecter</a></li>
            </ul>
        </nav>
    </div>
    <div class="offset-sm-3 col-sm-9 offset-md-2 col-md-10">{% block content %}{% endblock %}</div>
</main>
</body>

{% block popup %}{% endblock%}

</html>