<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>Share livre - Page de connexion</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- Promise -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.min.js" defer></script>
    <!-- Fetch -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.1/fetch.min.js" defer></script>
    <!-- JS -->
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}" async defer></script>

</head>

<body>
<header>
    <nav class="navbar fixed-top">
        <div class="navbar-brand col-sm-4">
            <h1><i class="fas fa-book-reader"></i> Share livre</h1>
        </div>
        <div class="login col-sm-3 col-md-2">
            <a href="#"><i class="fas fa-sign-in-alt"></i> Se connecter</a>
        </div>
    </nav>
</header>

<main>
    <section class="signin">
        <h2>Se connecter</h2>
        <form method="POST">
            <p>
                <label for='mail'>Adresse e-mail</label>
                <input type='text' name='signin_mail' id='mail' required />
            </p>
            <p>
                <label for='password'>Mot de passe</label>
                <input type='password' name='signin_password' id='password' required />
            </p>
            <p>
                <button type="submit">Connexion</button>
            </p>
        </form>
    </section>
</main>
</body>

</html>